#formulario{
    margin-left: 25%;
    margin-right: 25%;
}

#cursos{
    text-align: center;
}

#btn{
    background-color: aqua;
}

#mymodal{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

    
